<!DOCTYPE html>
<html>
<head>
	<title>Django</title>
	<meta charset="utf-8">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	{% load static %}
	<link rel="stylesheet" href="{% static 'jquery-ui/jquery-ui.min.css' %}" />
	<script src="{% static 'jquery-ui/external/jquery/jquery.js' %}"></script>
	<script src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>

	<script>
		$(document).ready(function(){
			$("#b1").click(function(){
				$(".rb").show();
				$(".rd").attr("disabled", true);
			});
		});

        function getanswers()
        {
        document.getElementById("UserAnswers").innerHTML = "";
        var e = document.getElementsByTagName("input");
            for(i = 0 ; i<=e.length;i++)
            {
                if(e[i].type=="radio")
                {
                    if(e[i].checked)
                    {
                        document.getElementById("UserAnswers").innerHTML+="Q "+e[i].name + " The Answers You Are Selected Is : "+e[i].value+"<br>";

                    }
                }
            }
        }

	</script>


</head>
<body>
	<div class="container">
    <h1 class="text mt-3">Simple Quiz </h1>
    <hr>
    <div>
        {% for i in  question %}
        <table>
            <tr>
                <td class="text-primary">{{i.id}} ) {{i.question}}</td>
            </tr>
            <tr>
                <td><input type = "radio" class="rb" name = {{i.id}} id="Option1" value="{{i.opt1}}">{{i.opt1}}</td>
            </tr>
            <tr>
                <td><input type = "radio" class="rb" name = {{i.id}} id="Option2" value="{{i.opt2}}">{{i.opt2}}</td>
            </tr>
            <tr>
                <td><input type = "radio" class="rb" name = {{i.id}} id="Option3" value="{{i.opt3}}">{{i.opt3}}</td>
            </tr>
            <tr>
                <td><input type = "radio" class="rb" name = {{i.id}} id="Option4" value="{{i.opt4}}">{{i.opt4}}</td>
            </tr>

            <tr>
                <td><label id="corans" class= "rb" style="display:none ; color : green"><b>Correct answer is: {{i.answer}}</b></label></td>
            </tr>

        </table>
<hr>

        {% endfor %}
        <input type="submit" class="btn btn-success" value="Submit" id="b1" onclick="getanswers()">
        <br>
        <b id="UserAnswers"></b>
        </div>
</div>
</body>
</html>